# Vue.js (frontend)
frontend/base_front/node_modules/
frontend/base_front/dist/
frontend/base_front/.env
frontend/base_front/.env.*
frontend/base_front/*.log

# Rails (backend)
Wallet_backend/log/
Wallet_backend/tmp/
Wallet_backend/storage/
Wallet_backend/vendor/
Wallet_backend/.byebug_history
Wallet_backend/config/master.key
Wallet_backend/public/assets
Wallet_backend/public/packs
Wallet_backend/node_modules/

# Общие исключения
.DS_Store
*.log
.idea/
.vscode/
.env
.env.local
.env.*.local

base_backend/*