# Vue.js (frontend)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/*.log

# Rails (backend)
backend/log/
backend/tmp/
backend/storage/
backend/vendor/
backend/.byebug_history
backend/config/master.key
backend/public/assets
backend/public/packs
backend/node_modules/

# Общие исключения
.DS_Store
*.log
.idea/
.vscode/
.env
.env.local
.env.*.local

base_backend/